header{
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

header .logo {
  font-size: 2em;
  font-weight: bold;
  padding: 0.2;
}
header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
  padding: 0em 1em;
}
highlightedContent {
  display: flex;
  flex-flow: none;
  
}
highlightedContent img {
  width: 100%;
}
.cart{
  color: blue;
}
.button {
  display: inline-block;
  color: #282c34;
  background-color: lightblue;
  border: solid black;
  margin: 0;
  padding: 0;
}
.bottomContainer {
  display: flex;
  margin: 110px;
}
.bottomContainer h2 {
  font-size: 2em;
  text-align: right;
}
.bottomContainer .title{
  width: 40%;
}
.bottomContainer .content {
  width: 60%;
  text-align: right;
}
.news-container {
  background-color: rgba(19, 23, 84, 0.68);
  width: 100%;
  text-align: center;
  padding: 1em;
}
.news-container h2 {
  color: orange;
}
.new-item {
  color: white;
}
main{
  display: flex;
  flex-wrap: wrap;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.nav-color{
  font-weight: bold;
  color: purple;
}
.footer-a{
max-width: 1024px;
margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #30013a;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
